@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-6.25rem) rotate(-50deg); }
  80% {
    transform: translate(0.625rem); }
  100% {
    opacity: 1;
    transform: translate(0px) rotate(0deg); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(6.25rem) rotate(50deg); }
  80% {
    transform: translate(-0.625rem); }
  100% {
    opacity: 1;
    transform: translate(0px) rotate(0deg); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(1.875rem); }
  100% {
    opacity: 1;
    transform: translate(0px); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

h1 {
  text-transform: uppercase;
  word-spacing: 0.5rem; }

h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 25rem;
  font-size: 1rem;
  line-height: 1.7rem;
  color: #777;
  padding: 2rem; }

#logo {
  height: 2.5rem; }

.about__header {
  font-size: 2.5rem;
  background: linear-gradient(to right, #55c57a 0%, #55c57a 40%, #28b485 100%);
  display: inline-block;
  color: transparent;
  line-height: 50px;
  padding: 1rem 0;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in; }
  .about__header:hover {
    transform: skewX(2deg) skewY(3deg) scale(1.1);
    text-shadow: 0 0.5rem 1rem rgba(119, 119, 119, 0.25); }

.about__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0rem 3rem;
  text-align: left; }
  .about__content--text {
    padding: 0 1rem; }
  .about__content--imges {
    position: relative; }
    .about__content--imges [class^="img-"] {
      position: absolute;
      width: 55%;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba(119, 119, 119, 0.5);
      transition: all 2s ease-in-out;
      outline-offset: 1rem; }
    .about__content--imges .img-1 {
      top: -2rem;
      left: 2rem; }
    .about__content--imges .img-2 {
      right: 0; }
    .about__content--imges .img-3 {
      left: 20%;
      top: 5rem; }
    .about__content--imges [class^="img-"]:hover {
      transform: scale(1.1);
      z-index: 10;
      box-shadow: 0 1rem 2rem rgba(119, 119, 119, 0.5);
      outline: 0.5rem solid #55c57a; }

.paragraph {
  font-size: medium; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.m-lr-12 {
  margin: 0rem 12rem; }

.m-lr-8 {
  margin: 0rem 8rem; }

.m-lr-2 {
  margin: 0rem 1rem; }

.m-tb-8 {
  margin: 8rem 0rem; }

.m-tb-12 {
  margin: 12rem 0rem; }

.m-b-4 {
  margin-bottom: 4rem; }

.m-b-2 {
  margin-bottom: 2rem; }

.m-b-1 {
  margin-bottom: 1rem; }

.txt-center {
  text-align: center; }

.btn {
  margin-top: 5rem;
  padding: 0.8rem 3rem;
  border-radius: 6.25rem;
  transition: all 0.3s;
  text-transform: uppercase;
  word-spacing: 0.2rem;
  position: relative; }
  .btn--white {
    display: inline-block;
    color: #777;
    background-color: #fff; }
    .btn--white::after {
      background-color: #fff; }
  .btn--primary {
    display: inline-block;
    color: #fff;
    background-color: #55c57a; }
    .btn--primary::after {
      background-color: #55c57a; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0.625rem 1.25rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translate(-1px);
    box-shadow: 0px 0.313rem 0.625rem rgba(0, 0, 0, 0.2); }
  .btn--animation-bottom {
    animation: moveInBottom 1s ease-in-out 1.5s backwards; }
  .btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 6.25rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.6s; }

.text-btn-light {
  display: inline-block;
  padding: 0.3rem;
  border-bottom: 1px solid #55c57a;
  color: #55c57a;
  transition: all 0.2s;
  font-size: 1rem;
  font-weight: bold; }
  .text-btn-light:hover {
    background-color: #55c57a;
    color: #fff; }

.features__boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0rem 8rem; }
  .features__boxes [class^="feature__boxes--box"] {
    background: rgba(255, 255, 255, 0.6);
    padding: 3rem 0;
    border-radius: 0.2rem;
    transition: transform 0.5s; }
    .features__boxes [class^="feature__boxes--box"] > i {
      display: block;
      background: linear-gradient(to right bottom, rgba(85, 197, 122, 0.2), rgba(40, 180, 133, 0.8));
      color: transparent;
      -webkit-background-clip: text;
      font-size: 3.5rem;
      margin-bottom: 1rem; }
  .features__boxes [class^="feature__boxes--box"]:hover {
    transform: translateY(-1rem) scale(1.05); }

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0rem 8rem; }
  .cards__card {
    height: 35rem;
    position: relative;
    perspective: 150rem; }
    .cards__card__face {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      transition: transform 0.8s ease;
      box-shadow: 0 1.5rem 4rem rgba(119, 119, 119, 0.15);
      border-radius: 3px;
      overflow: hidden; }
    .cards__card__front {
      transform: rotateY(0deg);
      position: relative; }
    .cards__card__back {
      transform: rotateY(180deg);
      color: #fff; }
      .cards__card__back--1 {
        background: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .cards__card__back--2 {
        background: linear-gradient(to right bottom, #55c57a, #28b485); }
      .cards__card__back--3 {
        background: linear-gradient(to right bottom, #2998ff, #5643fa); }
    .cards__card:hover .cards__card__front {
      transform: rotateY(-180deg); }
    .cards__card:hover .cards__card__back {
      transform: rotateY(0deg); }

.card--image {
  height: 15rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .card--image--1 {
    background: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg") no-repeat center center/cover; }
  .card--image--2 {
    background: linear-gradient(to right bottom, #55c57a, #28b485), url("../img/nat-6.jpg") no-repeat center center/cover; }
  .card--image--3 {
    background: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg") no-repeat center center/cover; }

.card--header {
  position: absolute;
  top: 11rem;
  right: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8rem;
  width: 45%;
  line-height: 2rem; }
  .card--header--effect {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0.2rem 0.5rem; }
    .card--header--effect--1 {
      background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .card--header--effect--2 {
      background: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)); }
    .card--header--effect--3 {
      background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }

.card--list {
  padding: 2rem 4rem; }
  .card--list--item {
    padding: 0.5rem 0rem; }
  .card--list--item:not(:last-child) {
    border-bottom: 2px solid #eee; }

.card__info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .card__info--price--header {
    padding: 0.8rem; }
  .card__info--price--1 {
    font-size: 5rem;
    padding: 2rem; }
  .card__info--price--2 {
    font-size: 5rem;
    padding: 2rem; }
  .card__info--price--3 {
    font-size: 5rem;
    padding: 2rem; }

.header {
  height: 95vh;
  position: relative;
  background: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg") no-repeat top center/cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem; }
  .header__content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center; }
  .header--main-content {
    letter-spacing: 2rem;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    animation: moveInLeft 1s ease-in;
    backface-visibility: hidden;
    text-transform: uppercase;
    word-spacing: 0.5rem; }
  .header--sub-content {
    font-size: 1.8rem;
    word-spacing: 1rem;
    letter-spacing: 0.8rem;
    animation: moveInRight 1s backwards ease-in 1s;
    backface-visibility: hidden;
    text-transform: uppercase;
    word-spacing: 0.5rem; }

.about {
  background-color: #f7f7f7;
  text-align: center;
  margin: auto 0;
  padding: 18rem 0rem;
  margin-top: -20vh;
  padding-bottom: 30rem; }

.features {
  background: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../../img/nat-4.jpg") no-repeat top center/cover;
  margin-top: -12rem;
  transform: skewY(-5deg); }
  .features > * {
    transform: skewY(5deg); }

.tour {
  background-color: #f7f7f7;
  text-align: center;
  margin: auto 0;
  padding: 18rem 0rem;
  margin-top: -10rem; }
  .tour__header {
    font-size: 2.5rem;
    background: linear-gradient(to right, #55c57a 0%, #55c57a 40%, #28b485 100%);
    display: inline-block;
    color: transparent;
    line-height: 50px;
    padding: 1rem 0;
    -webkit-background-clip: text; }
    .tour__header:hover {
      transform: skewX(2deg) skewY(3deg) scale(1.1);
      text-shadow: 0 0.5rem 1rem rgba(119, 119, 119, 0.25); }
  .tour__footer {
    margin: auto 5rem; }
