// COLOURS
$primary-color: #55c57a;
$light-primary-color: #55c57a;
$dark-primary-color: #28b485;

$light-secondary-color: #ffb900;
$dark-secondary-color: #ff7730;

$light-tertiary-color: #2998ff;
$dark-tertiary-color: #5643fa;

$light-color: #fff;
$dark-color: #777;
$light-black: #333;

$light-grey-color: #f7f7f7;
$grey-color: #eee;

// FONT-SIZE
$h1-font:2.5rem;

$btn-medium: 1rem;