.btn {
    margin-top: 5rem;
    padding: 0.8rem 3rem;
    border-radius: 6.25rem;
    transition: all 0.3s;
    text-transform: uppercase;
    word-spacing: 0.2rem;
    position: relative;
  
    &--white {
      display: inline-block;
      color: $dark-color;
      background-color: $light-color;
      &::after {
        background-color: $light-color;
      }
    }
  
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0px 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  
    &:active {
      transform: translate(-1px);
      box-shadow: 0px 0.313rem 0.625rem rgba(0, 0, 0, 0.2);
    }
  
    &--animation-bottom {
      animation: moveInBottom 1s ease-in-out 1.5s backwards;
    }
  
    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 6.25rem;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.6s;
    }
  }

.text-btn-light{
  display: inline-block;
  padding: 0.3rem;
  border-bottom: 1px solid $primary-color;
  color: $primary-color;
  transition: all 0.2s;
  font-size: $btn-medium;
  font-weight: bold;

  &:hover{
    background-color: $primary-color;
    color: $light-color
  }
}