body {
  font-family: "Lato", sans-serif;
  font-weight: 25rem;
  font-size: 1rem;
  line-height: 1.7rem;
  color: $dark-color;
  padding: 2rem;
}

#logo {
  height: 2.5rem;
}

.about {
  &__header {
    @include header-section;
    transition: all 0.4s ease-in;
    &:hover {
      @include header_effect;
    }
  }

  &__content{
    @include grid-2-col;
    text-align: left;

    &--text{
      padding: 0 1rem;
    }

    &--imges{
      position: relative;

      [class^="img-"]{
        position: absolute;
        width: 55%;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($dark-color, 0.5);
        transition: all 2s ease-in-out;
        outline-offset: 1rem;
      }

      .img-1{
        top: -2rem;
        left: 2rem;
      }

      .img-2{
        right: 0;    
      }

      .img-3{
        left: 20%;
        top: 5rem;
      }

      [class^="img-"]:hover{
        transform: scale(1.1);
        z-index: 10;
        box-shadow: 0 1rem 2rem rgba($dark-color, 0.5);
        outline: 0.5rem solid $primary-color;
      }

    }
  }
}

.paragraph{
  font-size: medium;

  &:not(:last-child){
    margin-bottom: 2rem;
  }
}