.m-lr-12{margin: 0rem 12rem;}
.m-lr-8{margin: 0rem 8rem;}
.m-lr-2{margin: 0rem 1rem;}

.m-tb-12{margin: 12rem 0rem;}
.m-tb-8{margin: 8rem 0rem;}
.m-tb-6{margin: 6rem 0rem;}
.m-tb-4{margin: 8rem 0rem;}
.m-tb-2{margin: 2rem 0rem;}

.m-t-4{margin-top: 4rem;}

.m-b-4{margin-bottom: 4rem;}
.m-b-2{margin-bottom: 2rem;}
.m-b-1{margin-bottom: 1rem;}


.txt-center{text-align: center;}